body {
    background: linear-gradient(to bottom, rgba(22, 22, 22, .1) 0, rgba(22, 22, 22, .5) 75%, #161616 100%), url(../images/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 750px;
    padding: 20px
}

.contact-form {
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.slider.slider-horizontal {
    margin-left: 20px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px 0;
    position: relative;
    width: 100%;
}

ul {
    padding-left: 20px;
    margin-bottom: 0;
}

table * {
    position: relative;
}

table td, table th {
    padding: 8px;
    text-align: left;
}

table th {
    color: white;
    background-color: rgba(100, 161, 167, 0.5);
    backdrop-filter: blur(5px);
}

table tbody tr {
    height: 50px;
}

tbody tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.7);
}

tbody tr {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

.price {
    font-weight: 600;
    color: #404040;
    width: 100px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.radio label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 2em;
    height: 1.5em;
    line-height: 1.5;
    cursor: pointer;
}

.radio label::before,
.radio label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
}

.radio label::before {
    content: " ";
    border: 2px solid #bdc3c7;
    border-radius: 20%;
}

input[type="radio"] + label::before {
    border-radius: 50%;
}

input[type="radio"] + label::after {
    content: " ";
    top: .25em;
    left: .25em;
    width: 1em;
    height: 1em;
    background: #fff;
    border: .2em solid #4f837f;
    border-radius: 50%;
}

input[type="radio"]:checked + label::before {
    background: #fff;
    border-color: #fff;
}

input[type="radio"] + label::after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.radio label::before,
.radio label::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.slider-tick {
    opacity: 1 !important;
}

.slider-handle {
    background-image: linear-gradient(to bottom, rgba(100, 161, 167, 0.6) 0, rgba(100, 161, 167, 0.6) 100%) !important;
    background-image: -o-linear-gradient(top, rgba(100, 161, 167, 0.6) 0, rgba(100, 161, 167, 0.6) 100%) !important;
    background-image: linear-gradient(to bottom, rgba(100, 161, 167, 0.6) 0, rgba(100, 161, 167, 0.6) 100%) !important;
}

.slider-tick.in-selection {
    background-image: -webkit-linear-gradient(top, rgba(100, 161, 167, 1) 0, rgba(100, 161, 167, 1) 100%) !important;
    background-image: -o-linear-gradient(top, rgba(100, 161, 167, 1) 0, rgba(100, 161, 167, 1) 100%) !important;
    background-image: linear-gradient(to bottom, rgba(100, 161, 167, 1) 0, rgba(100, 161, 167, 1) 100%) !important;
}

.slider-selection.tick-slider-selection {
    background-image: -webkit-linear-gradient(top, rgba(100, 161, 167, 0.6) 0, rgba(100, 161, 167, 0.6) 100%) !important;
    background-image: -o-linear-gradient(top, rgba(100, 161, 167, 0.6) 0, rgba(100, 161, 167, 0.6) 100%) !important;
    background-image: linear-gradient(to bottom, rgba(100, 161, 167, 0.6) 0, rgba(100, 161, 167, 0.6) 100%) !important;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: rgba(100, 161, 167, 0.6);
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    background: rgba(238, 238, 238, 0.6)
}

.btn {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}

.btn-primary {
    background-color: rgba(100, 161, 167, 0.6);
}

.btn-primary:hover {
    background-color: rgba(79, 131, 127, 0.6);
}

.btn-primary:focus {
    background-color: #4f837f;
    color: white;
}

.btn-primary:active {
    background-color: #467370 !important;
}
